*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f8fafc;
    color: #111827;
}
header {
  border-bottom: 1px solid #bdcbdc ;
  background: #f4f7fb;
}
.navbar {
  width: 90%;
  max-width: 1230px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo span {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4b5b1f;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 8px 15px rgba(0, 140, 210, 0.2);

}
.logo h2 {
  font-size: 22px;
}
.link {
  display: flex;
  gap: 35px;
  list-style: none;
}
.link a {
  text-decoration: none;
  color:#64748b ;
  font-size: 17px;
  font-weight: 600;
  
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.moon {
  width: 50px;
  height: 50px;
  border: 1px solid #dce4ed;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
.resume {
  border: none;
  background: #0789c9;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
 
}
.text{
  margin: 50px;
}
.text h6{
  color: rgb(94, 113, 190);
  margin: 5px;
}
.text h1 {
  font-weight: bold;
  margin-bottom: 10px;
}
.text h3 {
  color: aqua;
  margin-bottom:10px ;
}
.button{
  margin: 60px;
}
.button button{
  background-color: white;
  border-radius: 15px;
  padding: 9px;
  border:1px solid rgb(230, 214, 214) ;
}
.hero{
  display: flex;

}




.box{
  background-color: rgb(224, 215, 214);
  width: 200px;
  height: 220px;
  border-radius: 8px;
  text-align: center;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

  



}
 .box img {
  border-radius:50%;
  text-align: center;
  margin-top:40px;
}
.box h3 {
  color: #0789c9;
  padding: 10px;
  margin-top: 10px;
 
}

.modern {
  background: #162932;
  width: 500px;
  border-radius: 3px;
  margin: 50px;
  color: white;

}
.lekha {
  padding: 10px;
  margin: 5px;
  
}
.get {
  margin-top: 10px;
  background-color: rgb(79, 86, 223);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border:1px solid rgb(121, 77, 224) ;
  font-size: 20px;
}
